html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

body {
    margin: 0;
    color: #4a4a4a;
    line-height: 1.8;
    font-size: 1rem;
    font-family: 'Lora', 'Georgia', serif;
}

#wrapper{
  width:60%;
  margin: 0 auto; 
  padding: 40px;
}
#logo{
    display: block;
    margin: 0 0 20px;
}

#wrapper h1{
    margin: 0;
    padding: 0 0 20px;
    font-size: 1.6em;
    color:#0aa7ca;
}

#merchant_data{
    margin: 0;
    padding: 0;
    width: 100%;
}

#merchant_data h3{
    margin: 0;
    font-size: 1.3em;
}
#merchant_data label{
    display: block;
    padding: 10px 0;
}
#merchant_data input[type="text"],
#merchant_data input[type="email"],
#merchant_data input[type="number"],
#merchant_data input[type="password"]{
    width: 100%;
    margin: 0;
    padding: 15px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    background: #fff;
    color: #adadad;
    line-height: 1.3;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
}
#merchant_data .frequency_block{
    padding: 0;
    overflow: hidden;
    border: none;
}
#merchant_data .frequency_block input[type="radio"]{
   display: inline;
}

#merchant_data .frequency_block label{
    display: inline;
    padding: 0 10px;
}